@keyframes animacao{
    0%{background-color: purple; width: 500px;}  
    50%{background-color: yellow; width: 200px;}
    100%{background-color: rgb(255, 8, 0); width: 10px;}
}


*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px ;
    background-color: purple;
    animation-name: animacao;
    animation-duration: 6s;
    animation-delay: 2s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}